{% extends 'base.html.twig' %}

{% block title %}Livros
{% endblock %}

{% block body %}
	<h1>Livros ({{total_livros}})</h1>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nome</th>
				<th>Autor</th>
				<th>Nota</th>
				<th>Lido</th>
				<th>Lido em</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for livro in livros %}
				<tr>
					<td>{{ livro.id }}</td>
					<td>{{ livro.nome }}</td>
					<td>{{ livro.autor }}</td>
					<td>{{ livro.nota }}</td>
					<td>{{ livro.lido ? 'V' : '' }}</td>
					<td>{{ livro.dataLeitura ? livro.dataLeitura|date('d/m/Y') : '' }}</td>
					<td>
						<a href="{{ path('app_livro_show', {'id': livro.id}) }}">Ver</a>
						<a href="{{ path('app_livro_edit', {'id': livro.id}) }}">Editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Nenhum livro encontrado</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>
		Livros encontrados:
		{{total_livros}}
	</p>

	<a href="{{ path('app_livro_new') }}">Novo livro</a>
{% endblock %}
